.knop,.vc_general.vc_btn3{
  border-radius: 30px;
  display: inline-block;
  padding: 15px 30px;
  font-family: "bree",sans-serif;
  font-size: 18px !important;
  &.groot{
    padding: 18px 30px;
  }
  &.oranje{
    background-color: $oranje;
    color: white;
  }
  &.blauw-stip{
    color: $blauw;
    background: transparent;
    border: 1px dashed $blauw;
  }
  &.blauw{
    background-color: $blauw;
    color: white;
  }
}



form.nieuwsbrief{
  @include flexbox;
  width: 100%;
  input{
    width: calc(100% - 160px);
    border: 1px solid $blauw;
    padding: 12px 20px;
    border-radius: 30px 0 0 30px;
  }
  button{
    width: 160px;
    background: $blauw;
    color: white;
    border: none;
    padding: 0 24px;
    border-radius: 0 30px 30px 0;
    font-family: "bree", sans-serif;
  }
}


.titel-rondje{
  position: relative;
    &:after{
      content: url("../img/rondje.svg");
	  position: absolute;
      top: -35px;
      transform: translateX(50%);
  }
}

li.menu-item.oranje{
  a{
    color: $oranje;
  }
}

#accessoire-grid{

  .vc_grid-filter{
    .vc_grid-filter-item{
      padding: 9px 20px;
      border: 1px solid $blauw;
      span{
        color: $blauw;
        font-family: $headings-font-family;
      }
      &.vc_active{
        background: $blauw;
        span{
          color: white;
        }
      }
    }
  }

  .accessoire{
    .afbeelding{

    }
    .titel{
      h3{
        color: $blauw;
        font-size: 26px;
        font-weight: normal;
      }
    }
    .ondertitel{

    }
    .prijs{
      color: $blauw;
      margin-top: 20px;
    }
  }
}


#bestellen-grid{


  .bestellen{
    .afbeelding{

    }
    .titel{
      p{
        margin-bottom: 0;
      }
    }
    .ondertitel{

    }
    .prijs{
      color: $blauw;
      margin-top: 10px;
    }

    .accessoire-aantal{
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 10px;
      right: 10px;


      .control{
        width: 30px;
        height: 30px;
        position: relative;


        &:before,&:after{
          transition:opacity 0.3s ease-in;
        }


        &:before{
          position: absolute;
          left: 0;
          top: 0;
          opacity: 1;
        }
        &:after{
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        &:hover{
          &:before{
            opacity: 0;
          }
          &:after{
            opacity: 1;
          }
        }
        cursor:pointer;
      }


      .aantal-veld{
        input{
          transition:all 0.3s ease-in;
          width: 80px;
          text-align: center;
          border: 1px solid $blauwl;
          border-radius: 30px;
          height: 30px;
          &:focus{
            outline: none;
            border-color: $blauw;
          }
          &:hover{
            border-color: $blauw;
          }
        }

        input.nul{
          visibility: hidden;
          opacity: 0;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          -moz-appearance: textfield;
        }

      }





      .min{
        transition:all 0.3s ease-in;
        &:before{
          content:url(../img/min.png);
        }
        &:after{
          content:url(../img/min-active.png);
        }
        &.nul{
          visibility: hidden;
          opacity: 0;
        }
      }

      .plus{
        &:before{
          content:url(../img/plus.png);
        }
        &:after{
          content:url(../img/plus-active.png);
        }
      }

    }

  }
}

.artikel-alv{
  margin-right: 50px;
}


html body #powerTip {
  background-color: $oranje;
  &.n:before{
    border-top-color: $oranje;
  }
}

@import "elements/visual-composer";

